certifi==2020.6.20
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
dataclasses==0.8
Flask==2.0.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
openai==0.8.0
requests==2.26.0
tqdm==4.62.3
typing_extensions==4.0.1
urllib3==1.26.7
Werkzeug==2.0.2
wincertstore==0.2
zipp==3.6.0
